*.js linguist-detectable=true
*.jsx linguist-detectable=true
*.ts linguist-detectable=true
*.jsx linguist-detectable=true
*.vue linguist-detectable=true
*.css linguist-detectable=false
*.less linguist-detectable=false
